<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="disc-outline"></ion-icon>
      <ion-label>Catalogo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Mi cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
